* {
  margin: 0;
  padding: 0;
}

body {
  background: #f0f2f5;
}

header {
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;

  a {
    margin: 10px;
    font-size: 20px;
  }
}

.login-layer {
  width: 960px;
  margin: 0 auto;
  margin-top: 140px;

  .logo-box {
    display: inline-block;
    width: 560px;
    height: 360px;
    vertical-align: top;

    img {
      width: 300px;
      margin-left: -26px;
      margin-top: 44px;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 28px;
      font-weight: normal;
      line-height: 32px;
      width: 500px;
    }
  }

  .login-box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #e7f3ff;
    text-align: center;
    background: white;

		.login-pass {
			margin-top: 10px;
		}
	
		.login-button {
			margin: 30px 0 10px 0;
		}
	
		.regist-button {
			width: 200px;
			margin: 0 auto;
		}
	
		.new-page {
			margin-top: 40px;
			font-size: 14px;

			.text {
				margin-right: 10px;
			}
		}

		.mata-cop {
			margin-top: 10px;
		}
  }
}

.regist-layer {
  /* 컨테이너 중앙 정령 */
  width: 420px;
  margin: 0 auto;

  /* 로고 이미지 */
  .logo {
    text-align: center;
    margin-top: 10px;

    .my-image > img {
      height: 100px;
      display: inline-block;
    }
  }

  /* 카드 배경 및 그림자 설정 */
  .card {
    position: relative;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #e7f3ff;
    box-sizing: border-box;
    
    /* 카드 헤더 */
    .header {
      padding: 10px;
      margin-top: 10px;

      & > .my-title {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
      }

      & > .my-subtitle {
        color: #606770;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
      }
    }
    
    /* 카드 바디 */
    .body {
      padding: 20px;

      input {
        margin: 5px 2px;
        padding: 10px;
      }
    }

    .in-age select,
    .in-type .my-radio {
      width: calc(100% / 3 - 4px);
      display: inline-block;
      height: 36px;
      padding: 5px 10px;
      box-sizing: border-box;
    }
    
    /* 라디오 버튼 텍스트 */
    .my-subtitle {
      line-height: 20px;
      margin-top: 10px;
    }
    
    /* 하단의 설명 */
    .guide {
      color: #777;
      font-size: 11px;
    }

    /* 가입하기 버튼 */
    .regist {
      width: 200px;
      margin: 20px auto;
    }

    /* 가입하고 버튼 및 로그인 레이아웃 */
    .login {
      text-align: center;
    }
  }
}

.identify-layer {
  .logo-box {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);

    img {
      height: 50px;
    }
  }

  
  .card-box {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 500px;
    background: white;
    margin-top: 90px;
    
    .head {
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding-bottom: 0;
      height: 60px;

      .my-title {
        font-size: 20px;
        line-height: 60px;
        padding-left: 20px;
      }
    }
    
    .body {
      padding: 20px;

      .my-subtitle {
        margin-bottom: 20px;
      }
    }
    
    .foot {
      text-align: right;
      padding: 20px;
      border-top: 1px solid rgba(0, 0, 0, .1);
      box-sizing: border-box;
      
      .my-button {
        display: inline-block;
        width: 100px;
        height: 40px;
      }

      .my-button.primary {
        margin-left: 20px;
      }
    }
  }
}

